In [1]:
import pandas as pd   #import pands
import numpy as np    #import numpy
import xlrd           #python3 -m pip install xlrd  run the command at the anaconda enveroment

In [2]:
def by_1000000(num):
    return (num)*1000000

In [3]:
col = "C:F"    #show columns from column c to f
column_names =['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']
names= column_names,
# to change the column names can also use df.rename(columns = {'old col_name' : 'new col_name' inplace = True)

energyDataFrame=pd.read_excel('data/Energy Indicators.xls', #create dataframe to load the file at it  1-file path 
                     skiprows=17,  #the number of rows we want to skip 
                     usecols=col,  #the columns we want to load at show       
                     names= column_names, #change the columns name    
                     na_values='...',
                     header=0)  #no header
energyDataFrame['Energy Supply']=energyDataFrame['Energy Supply'].apply(by_1000000) #to change the measure

In [4]:
energyDataFrame.drop(energyDataFrame.tail(38).index,inplace=True)

In [5]:
energyDataFrame.tail(1)

      Country  Energy Supply  Energy Supply per Capita  % Renewable
226  Zimbabwe    480000000.0                      32.0     52.53612

In [6]:
def keep_country_name(country_name):
    clean_name = ''.join([item for item in country_name if not item.isdigit()])
    return clean_name

In [7]:
energyDataFrame['Country']=energyDataFrame['Country'].apply(keep_country_name)

In [8]:
energyDataFrame.head(1)

       Country  Energy Supply  Energy Supply per Capita  % Renewable
0  Afghanistan    321000000.0                      10.0     78.66928

In [9]:
energyDataFrame['Country']=energyDataFrame['Country'].replace(['Republic of Korea','United States of America','United Kingdom of Great Britain and Northern Ireland','China, Hong Kong Special Administrative Region'],
                                   ['South Korea','United States','United Kingdom','Hong Kong'])

In [10]:
def remove_bracket(test_str):
    ret = ''
    skip2c = 0
    for i in test_str:
        if i == '(':
            skip2c += 1
        elif i == ')'and skip2c > 0:
            skip2c -= 1
        elif skip2c == 0:
            ret += i
    return ret

In [11]:
energyDataFrame['Country']=energyDataFrame['Country'].apply(remove_bracket)

In [12]:
energyDataFrame['Energy Supply'] = energyDataFrame['Energy Supply'].replace(" ", "")

In [13]:
GDP = pd.read_csv('data/world_bank.csv',
                  header = 0,
                  skiprows = 4)
GDP=GDP.rename(columns={'Country Name': 'Country'})

In [14]:
GDP['Country']=GDP['Country'].replace(['Korea, Rep.','Iran, Islamic Rep.','Hong Kong SAR, China'],
                                   ['South Korea','Iran','Hong Kong'])

In [15]:
# install python3 -m pip install openpyxl first
ScimEn=pd.read_excel('data/scimagojr-3.xlsx',engine='openpyxl')

In [42]:
mergedDF = pd.merge(ScimEn,
                    GDP[['Country','2006', '2007', '2008','2009', '2010', '2011', '2012', '2013', '2014', '2015']] ,
                    on='Country')

mergedDF.head(1)

,Rank,Country,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,1,China,127050,126767,597237,411683,4.7,138,3.992331e+12,4.559041e+12,4.997775e+12,5.459247e+12,6.039659e+12,6.612490e+12,7.124978e+12,7.672448e+12,8.230121e+12,8.797999e+12

In [44]:
allData = pd.merge(mergedDF,
                energyDataFrame,                  
                    on='Country',how='left')

In [48]:
#allData.set_index('Country',inplace=True)
allData.drop_duplicates(inplace=True)
allData.sort_values(by='Rank')
allData.head(1)

,Rank,Country,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,2006,2007,...,2009,2010,2011,2012,2013,2014,2015,Energy Supply,Energy Supply per Capita,% Renewable
0,1,China,127050,126767,597237,411683,4.7,138,3.992331e+12,4.559041e+12,...,5.459247e+12,6.039659e+12,6.612490e+12,7.124978e+12,7.672448e+12,8.230121e+12,8.797999e+12,1.271910e+11,93.0,19.75491

In [49]:
rankfrom1To15df = allData.iloc[0:15]

In [50]:
rankfrom1To15df.set_index('Country', inplace=True)
rankfrom1To15df.head(1)

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,Energy Supply,Energy Supply per Capita,% Renewable
Country,,,,,,,,,,,,,,,,,,,,
China,1,127050,126767,597237,411683,4.7,138,3.992331e+12,4.559041e+12,4.997775e+12,5.459247e+12,6.039659e+12,6.612490e+12,7.124978e+12,7.672448e+12,8.230121e+12,8.797999e+12,1.271910e+11,93.0,19.75491

In [38]:
meandfPerYears=rankfrom1To15df[['2006','2007','2008','2009','2010','2011','2012','2013','2014','2015']]

In [39]:
avgGDP=meandfPerYears.mean(axis = 1)

In [40]:
pd.Series(avgGDP).sort_values(ascending=False, inplace=False)

Country
United States         1.536434e+13
China                 6.348609e+12
Japan                 5.542208e+12
Germany               3.493025e+12
France                2.681725e+12
United Kingdom        2.487907e+12
Brazil                2.189794e+12
Italy                 2.120175e+12
India                 1.769297e+12
Canada                1.660647e+12
Russian Federation    1.565459e+12
Spain                 1.418078e+12
Australia             1.164043e+12
South Korea           1.106715e+12
Iran                  4.441558e+11
dtype: float64

In [24]:
rankfrom1To15df[['Energy Supply per Capita']].mean()

Energy Supply per Capita    160.357143
dtype: float64

In [25]:
maxRenewablePercentage=rankfrom1To15df['% Renewable'].max(),rankfrom1To15df['% Renewable'].idxmax()
maxRenewablePercentage

(69.64803, 'Brazil')

In [ ]:
rankfrom1To15df['Ratio']= rankfrom1To15df['Self-citations']/rankfrom1To15df['Citations']
maxRatio=rankfrom1To15df['Ratio'].max,rankfrom1To15df['Ratio'].idxmax()
maxRatio

In [27]:
rankfrom1To15df.head(1)

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,2006,2007,2008,...,2010,2011,2012,2013,2014,2015,Energy Supply,Energy Supply per Capita,% Renewable,Ratio
Country,,,,,,,,,,,,,,,,,,,,,
China,1,127050,126767,597237,411683,4.7,138,3.992331e+12,4.559041e+12,4.997775e+12,...,6.039659e+12,6.612490e+12,7.124978e+12,7.672448e+12,8.230121e+12,8.797999e+12,1.271910e+11,93.0,19.75491,0.689313

In [ ]:
median=rankfrom1To15df['% Renewable'].median()
rankfrom1To15df['flag']=rankfrom1To15df.apply(lambda x: 1 if x["% Renewable"] >= median else 0,axis=1)

In [29]:
HighRenewSeries=pd.Series(rankfrom1To15df['flag']).sort_values(axis=0, ascending=True, inplace=False)
HighRenewSeries

Country
United States         0
Japan                 0
United Kingdom        0
India                 0
France                0
South Korea           0
Iran                  0
Australia             0
China                 1
Russian Federation    1
Canada                1
Germany               1
Italy                 1
Spain                 1
Brazil                1
Name: flag, dtype: int64

In [30]:
ContinentDict  = {'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}

In [31]:
dateframe = pd.DataFrame(columns = ['count', 'sum', 'avg', 'std'])

In [ ]:
rankfrom1To15df['Estimate Population'] = rankfrom1To15df['Energy Supply'] / rankfrom1To15df['Energy Supply per Capita']

In [33]:
for i, df in rankfrom1To15df.groupby(ContinentDict):
    dateframe.loc[i] = [len(df), df['Estimate Population'].sum(), df['Estimate Population'].mean(),df['Estimate Population'].std()]

In [34]:
 dateframe

               count           sum           avg           std
Asia             5.0  2.821591e+09  7.053977e+08  7.138779e+08
Australia        1.0  2.331602e+07  2.331602e+07           NaN
Europe           6.0  4.579297e+08  7.632161e+07  3.464767e+07
North America    2.0  3.528552e+08  1.764276e+08  1.996696e+08
South America    1.0  2.059153e+08  2.059153e+08           NaN