In [1]:
import pandas as pd   #import pands
import numpy as np    #import numpy
import xlrd           #python3 -m pip install xlrd  run the command at the anaconda enveroment

In [2]:
def by_1000000(num):
    return (num)*1000000

In [3]:
col = "C:F"    #show columns from column c to f
column_names =['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']
names= column_names,
# to change the column names can also use df.rename(columns = {'old col_name' : 'new col_name' inplace = True)

energyDataFrame=pd.read_excel('data/Energy Indicators.xls', #create dataframe to load the file at it  1-file path 
                     skiprows=17,  #the number of rows we want to skip 
                     usecols=col,  #the columns we want to load at show       
                     names= column_names, #change the columns name    
                     na_values='...',
                     header=0)  #no header
energyDataFrame['Energy Supply']=energyDataFrame['Energy Supply'].apply(by_1000000) #to change the measure

In [5]:
energyDataFrame.drop(energyDataFrame.tail(38).index,inplace=True)

In [66]:
energyDataFrame.tail(1)

      Country  Energy Supply  Energy Supply per Capita  % Renewable
226  Zimbabwe    480000000.0                      32.0     52.53612

In [9]:
def keep_country_name(country_name):
    clean_name = ''.join([item for item in country_name if not item.isdigit()])
    return clean_name

In [10]:
energyDataFrame['Country']=energyDataFrame['Country'].apply(keep_country_name)

In [11]:
energyDataFrame.head()

          Country  Energy Supply  Energy Supply per Capita  % Renewable
0     Afghanistan   3.210000e+08                      10.0    78.669280
1         Albania   1.020000e+08                      35.0   100.000000
2         Algeria   1.959000e+09                      51.0     0.551010
3  American Samoa            NaN                       NaN     0.641026
4         Andorra   9.000000e+06                     121.0    88.695650

In [12]:
energyDataFrame['Country']=energyDataFrame['Country'].replace(['Republic of Korea','United States of America','United Kingdom of Great Britain and Northern Ireland','China, Hong Kong Special Administrative Region'],
                                   ['South Korea','United States','United Kingdom','Hong Kong'])

In [13]:
#energyDataFrame.replace('...', np.nan,inplace = True)
#energyDataFrame['Energy Supply'] *= 1000000

In [14]:
#energyDataFrame.head()

In [15]:
def remove_bracket(test_str):
    ret = ''
    skip2c = 0
    for i in test_str:
        if i == '(':
            skip2c += 1
        elif i == ')'and skip2c > 0:
            skip2c -= 1
        elif skip2c == 0:
            ret += i
    return ret

In [16]:
energyDataFrame['Country']=energyDataFrame['Country'].apply(remove_bracket)

In [17]:
energyDataFrame.head(50)

,Country,Energy Supply,Energy Supply per Capita,% Renewable
0,Afghanistan,3.210000e+08,10.0,78.669280
1,Albania,1.020000e+08,35.0,100.000000
2,Algeria,1.959000e+09,51.0,0.551010
3,American Samoa,NaN,NaN,0.641026
4,Andorra,9.000000e+06,121.0,88.695650
5,Angola,6.420000e+08,27.0,70.909090
6,Anguilla,2.000000e+06,136.0,0.000000
7,Antigua and Barbuda,8.000000e+06,84.0,0.000000
8,Argentina,3.378000e+09,79.0,24.064520
9,Armenia,1.430000e+08,48.0,28.236060
10,Aruba,1.200000e+07,120.0,14.870690
11,Australia,5.386000e+09,231.0,11.810810
12,Austria,1.391000e+09,164.0,72.452820
13,Azerbaijan,5.670000e+08,60.0,6.384345
14,Bahamas,4.500000e+07,118.0,0.000000
15,Bahrain,5.740000e+08,425.0,0.000000
16,Bangladesh,1.625000e+09,10.0,1.966329
17,Barbados,1.900000e+07,69.0,0.000000
18,Belarus,1.142000e+09,120.0,0.463389
19,Belgium,2.338000e+09,210.0,9.959739
20,Belize,1.300000e+07,39.0,64.690030
21,Benin,1.700000e+08,16.0,0.000000
22,Bermuda,6.000000e+06,88.0,0.000000
23,Bhutan,6.300000e+07,83.0,100.000000
24,Bolivia,3.360000e+08,32.0,31.477120
25,"Bonaire, Sint Eustatius and Saba",5.000000e+06,213.0,0.000000
26,Bosnia and Herzegovina,2.660000e+08,70.0,41.464670
27,Botswana,8.600000e+07,39.0,0.131406
28,Brazil,1.214900e+10,59.0,69.648030
29,British Virgin Islands,2.000000e+06,85.0,0.000000
30,Brunei Darussalam,1.270000e+08,310.0,0.045434
31,Bulgaria,7.030000e+08,97.0,17.234610
32,Burkina Faso,1.640000e+08,10.0,14.500680
33,Burundi,5.800000e+07,6.0,86.792450
34,Cabo Verde,7.000000e+06,15.0,21.227620
35,Cambodia,2.500000e+08,17.0,57.311590
36,Cameroon,3.070000e+08,14.0,70.886260
37,Canada,1.043100e+10,296.0,61.945430
38,Cayman Islands,8.000000e+06,131.0,0.000000
39,Central African Republic,2.300000e+07,5.0,85.635360
40,Chad,7.700000e+07,6.0,0.000000
41,Chile,1.613000e+09,92.0,28.006570
42,China,1.271910e+11,93.0,19.754910
43,Hong Kong,5.850000e+08,82.0,0.000000
44,"China, Macao Special Administrative Region",4.700000e+07,83.0,0.000000
45,Colombia,1.513000e+09,32.0,63.002840
46,Comoros,5.000000e+06,7.0,11.627910
47,Congo,1.020000e+08,23.0,57.748870
48,Cook Islands,1.000000e+06,48.0,0.000000
49,Costa Rica,2.220000e+08,47.0,88.736420

In [18]:
energyDataFrame['Energy Supply'] = energyDataFrame['Energy Supply'].replace(" ", "")

In [19]:
energyDataFrame

,Country,Energy Supply,Energy Supply per Capita,% Renewable
0,Afghanistan,3.210000e+08,10.0,78.669280
1,Albania,1.020000e+08,35.0,100.000000
2,Algeria,1.959000e+09,51.0,0.551010
3,American Samoa,NaN,NaN,0.641026
4,Andorra,9.000000e+06,121.0,88.695650
...,...,...,...,...
222,Viet Nam,2.554000e+09,28.0,45.321520
223,Wallis and Futuna Islands,0.000000e+00,26.0,0.000000
224,Yemen,3.440000e+08,13.0,0.000000
225,Zambia,4.000000e+08,26.0,99.714670
226,Zimbabwe,4.800000e+08,32.0,52.536120

In [20]:
GDP = pd.read_csv('data/world_bank.csv',
                  header = 0,
                  skiprows = 4)
GDP=GDP.rename(columns={'Country Name': 'Country'})

In [21]:
GDP.head()

,Country,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Aruba,ABW,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2.467704e+09,NaN,NaN,NaN,NaN,NaN
1,Andorra,AND,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,4.018196e+09,4.021331e+09,3.675728e+09,3.535389e+09,3.346317e+09,3.185605e+09,3.129538e+09,3.127550e+09,NaN,NaN
2,Afghanistan,AFG,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.030523e+10,1.172119e+10,1.214448e+10,1.469733e+10,1.593680e+10,1.691113e+10,1.935220e+10,1.973134e+10,1.999032e+10,2.029415e+10
3,Angola,AGO,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,5.581103e+10,6.842044e+10,7.787420e+10,7.975320e+10,8.247091e+10,8.570262e+10,9.012096e+10,9.626143e+10,1.008863e+11,1.039106e+11
4,Albania,ALB,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,9.771760e+09,1.034829e+10,1.112752e+10,1.150029e+10,1.192695e+10,1.223109e+10,1.240477e+10,1.254247e+10,1.279331e+10,1.312082e+10

In [22]:
GDP['Country']=GDP['Country'].replace(['Korea, Rep.','Iran, Islamic Rep.','Hong Kong SAR, China'],
                                   ['South Korea','Iran','Hong Kong'])

In [23]:
# install python3 -m pip install openpyxl first
ScimEn=pd.read_excel('data/scimagojr-3.xlsx',engine='openpyxl')

In [24]:
ScimEn.head()

,Rank,Country,Documents,Citable documents,Citations,Self-citations,Citations per document,H index
0,1,China,127050,126767,597237,411683,4.70,138
1,2,United States,96661,94747,792274,265436,8.20,230
2,3,Japan,30504,30287,223024,61554,7.31,134
3,4,United Kingdom,20944,20357,206091,37874,9.84,139
4,5,Russian Federation,18534,18301,34266,12422,1.85,57

In [25]:
mergedDF = pd.merge(ScimEn,
                    GDP[['Country','2006', '2007', '2008','2009', '2010', '2011', '2012', '2013', '2014', '2015']] ,
                    on='Country')


mergedDF.head(2)

,Rank,Country,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,1,China,127050,126767,597237,411683,4.7,138,3.992331e+12,4.559041e+12,4.997775e+12,5.459247e+12,6.039659e+12,6.612490e+12,7.124978e+12,7.672448e+12,8.230121e+12,8.797999e+12
1,2,United States,96661,94747,792274,265436,8.2,230,1.479230e+13,1.505540e+13,1.501149e+13,1.459484e+13,1.496437e+13,1.520402e+13,1.554216e+13,1.577367e+13,1.615662e+13,1.654857e+13

In [26]:
allData = pd.merge(mergedDF,
                energyDataFrame,                  
                    on='Country',how='left')

In [27]:
allData.head(10)

,Rank,Country,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,2006,2007,...,2009,2010,2011,2012,2013,2014,2015,Energy Supply,Energy Supply per Capita,% Renewable
0,1,China,127050,126767,597237,411683,4.70,138,3.992331e+12,4.559041e+12,...,5.459247e+12,6.039659e+12,6.612490e+12,7.124978e+12,7.672448e+12,8.230121e+12,8.797999e+12,1.271910e+11,93.0,19.754910
1,2,United States,96661,94747,792274,265436,8.20,230,1.479230e+13,1.505540e+13,...,1.459484e+13,1.496437e+13,1.520402e+13,1.554216e+13,1.577367e+13,1.615662e+13,1.654857e+13,9.083800e+10,286.0,11.570980
2,3,Japan,30504,30287,223024,61554,7.31,134,5.496542e+12,5.617036e+12,...,5.251308e+12,5.498718e+12,5.473738e+12,5.569102e+12,5.644659e+12,5.642884e+12,5.669563e+12,1.898400e+10,149.0,10.232820
3,4,United Kingdom,20944,20357,206091,37874,9.84,139,2.419631e+12,2.482203e+12,...,2.367048e+12,2.403504e+12,2.450911e+12,2.479809e+12,2.533370e+12,2.605643e+12,2.666333e+12,7.920000e+09,124.0,10.600470
4,5,Russian Federation,18534,18301,34266,12422,1.85,57,1.385793e+12,1.504071e+12,...,1.459199e+12,1.524917e+12,1.589943e+12,1.645876e+12,1.666934e+12,1.678709e+12,1.616149e+12,3.070900e+10,214.0,17.288680
5,6,Canada,17899,17620,215003,40930,12.01,149,1.564469e+12,1.596740e+12,...,1.565145e+12,1.613406e+12,1.664087e+12,1.693133e+12,1.730688e+12,1.773486e+12,1.792609e+12,1.043100e+10,296.0,61.945430
6,7,Germany,17027,16831,140566,27426,8.26,126,3.332891e+12,3.441561e+12,...,3.283340e+12,3.417298e+12,3.542371e+12,3.556724e+12,3.567317e+12,3.624386e+12,3.685556e+12,1.326100e+10,165.0,17.901530
7,8,India,15005,14841,128763,37209,8.58,115,1.265894e+12,1.374865e+12,...,1.549483e+12,1.708459e+12,1.821872e+12,1.924235e+12,2.051982e+12,2.200617e+12,2.367206e+12,3.319500e+10,26.0,14.969080
8,9,France,13153,12973,130632,28601,9.93,114,2.607840e+12,2.669424e+12,...,2.595967e+12,2.646995e+12,2.702032e+12,2.706968e+12,2.722567e+12,2.729632e+12,2.761185e+12,1.059700e+10,166.0,17.020280
9,10,South Korea,11983,11923,114675,22595,9.57,104,9.410199e+11,9.924316e+11,...,1.027730e+12,1.094499e+12,1.134796e+12,1.160809e+12,1.194429e+12,1.234340e+12,1.266580e+12,1.100700e+10,221.0,2.279353

In [28]:
#allData.set_index('Country',inplace=True)
allData.drop_duplicates(inplace=True)
allData.sort_values(by='Rank')

,Rank,Country,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,2006,2007,...,2009,2010,2011,2012,2013,2014,2015,Energy Supply,Energy Supply per Capita,% Renewable
0,1,China,127050,126767,597237,411683,4.70,138,3.992331e+12,4.559041e+12,...,5.459247e+12,6.039659e+12,6.612490e+12,7.124978e+12,7.672448e+12,8.230121e+12,8.797999e+12,1.271910e+11,93.0,19.75491
1,2,United States,96661,94747,792274,265436,8.20,230,1.479230e+13,1.505540e+13,...,1.459484e+13,1.496437e+13,1.520402e+13,1.554216e+13,1.577367e+13,1.615662e+13,1.654857e+13,9.083800e+10,286.0,11.57098
2,3,Japan,30504,30287,223024,61554,7.31,134,5.496542e+12,5.617036e+12,...,5.251308e+12,5.498718e+12,5.473738e+12,5.569102e+12,5.644659e+12,5.642884e+12,5.669563e+12,1.898400e+10,149.0,10.23282
3,4,United Kingdom,20944,20357,206091,37874,9.84,139,2.419631e+12,2.482203e+12,...,2.367048e+12,2.403504e+12,2.450911e+12,2.479809e+12,2.533370e+12,2.605643e+12,2.666333e+12,7.920000e+09,124.0,10.60047
4,5,Russian Federation,18534,18301,34266,12422,1.85,57,1.385793e+12,1.504071e+12,...,1.459199e+12,1.524917e+12,1.589943e+12,1.645876e+12,1.666934e+12,1.678709e+12,1.616149e+12,3.070900e+10,214.0,17.28868
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
160,183,Maldives,1,1,1,0,1.00,1,1.862196e+09,2.063143e+09,...,2.192661e+09,2.323402e+09,2.525755e+09,2.588810e+09,2.710479e+09,2.886134e+09,2.929826e+09,1.500000e+07,43.0,0.00000
161,185,Belize,1,1,6,0,6.00,1,1.285312e+09,1.299522e+09,...,1.352206e+09,1.397113e+09,1.426484e+09,1.479846e+09,1.499280e+09,1.560479e+09,1.590417e+09,1.300000e+07,39.0,64.69003
162,186,Palau,1,1,0,0,0.00,0,2.074094e+08,2.072990e+08,...,1.779528e+08,1.838000e+08,1.930672e+08,1.992454e+08,1.943911e+08,2.026654e+08,2.216412e+08,3.000000e+06,152.0,18.75000
163,187,Guyana,1,1,0,0,0.00,0,1.919759e+09,2.054533e+09,...,2.164673e+09,2.259288e+09,2.382129e+09,2.496863e+09,2.627240e+09,2.728150e+09,2.810153e+09,3.400000e+07,45.0,0.00000
164,191,Mauritania,1,1,1,0,1.00,1,4.025616e+09,4.139051e+09,...,4.140153e+09,4.337792e+09,4.541844e+09,4.805048e+09,5.097687e+09,5.312107e+09,NaN,5.100000e+07,13.0,0.00000

In [29]:
rankfrom1To15df = allData.iloc[0:15]

In [30]:
rankfrom1To15df

,Rank,Country,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,2006,2007,...,2009,2010,2011,2012,2013,2014,2015,Energy Supply,Energy Supply per Capita,% Renewable
0,1,China,127050,126767,597237,411683,4.70,138,3.992331e+12,4.559041e+12,...,5.459247e+12,6.039659e+12,6.612490e+12,7.124978e+12,7.672448e+12,8.230121e+12,8.797999e+12,1.271910e+11,93.0,19.754910
1,2,United States,96661,94747,792274,265436,8.20,230,1.479230e+13,1.505540e+13,...,1.459484e+13,1.496437e+13,1.520402e+13,1.554216e+13,1.577367e+13,1.615662e+13,1.654857e+13,9.083800e+10,286.0,11.570980
2,3,Japan,30504,30287,223024,61554,7.31,134,5.496542e+12,5.617036e+12,...,5.251308e+12,5.498718e+12,5.473738e+12,5.569102e+12,5.644659e+12,5.642884e+12,5.669563e+12,1.898400e+10,149.0,10.232820
3,4,United Kingdom,20944,20357,206091,37874,9.84,139,2.419631e+12,2.482203e+12,...,2.367048e+12,2.403504e+12,2.450911e+12,2.479809e+12,2.533370e+12,2.605643e+12,2.666333e+12,7.920000e+09,124.0,10.600470
4,5,Russian Federation,18534,18301,34266,12422,1.85,57,1.385793e+12,1.504071e+12,...,1.459199e+12,1.524917e+12,1.589943e+12,1.645876e+12,1.666934e+12,1.678709e+12,1.616149e+12,3.070900e+10,214.0,17.288680
5,6,Canada,17899,17620,215003,40930,12.01,149,1.564469e+12,1.596740e+12,...,1.565145e+12,1.613406e+12,1.664087e+12,1.693133e+12,1.730688e+12,1.773486e+12,1.792609e+12,1.043100e+10,296.0,61.945430
6,7,Germany,17027,16831,140566,27426,8.26,126,3.332891e+12,3.441561e+12,...,3.283340e+12,3.417298e+12,3.542371e+12,3.556724e+12,3.567317e+12,3.624386e+12,3.685556e+12,1.326100e+10,165.0,17.901530
7,8,India,15005,14841,128763,37209,8.58,115,1.265894e+12,1.374865e+12,...,1.549483e+12,1.708459e+12,1.821872e+12,1.924235e+12,2.051982e+12,2.200617e+12,2.367206e+12,3.319500e+10,26.0,14.969080
8,9,France,13153,12973,130632,28601,9.93,114,2.607840e+12,2.669424e+12,...,2.595967e+12,2.646995e+12,2.702032e+12,2.706968e+12,2.722567e+12,2.729632e+12,2.761185e+12,1.059700e+10,166.0,17.020280
9,10,South Korea,11983,11923,114675,22595,9.57,104,9.410199e+11,9.924316e+11,...,1.027730e+12,1.094499e+12,1.134796e+12,1.160809e+12,1.194429e+12,1.234340e+12,1.266580e+12,1.100700e+10,221.0,2.279353
10,11,Italy,10964,10794,111850,26661,10.20,106,2.202170e+12,2.234627e+12,...,2.089938e+12,2.125185e+12,2.137439e+12,2.077184e+12,2.040871e+12,2.033868e+12,2.049316e+12,6.530000e+09,109.0,33.667230
11,12,Spain,9428,9330,123336,23964,13.08,115,1.414823e+12,1.468146e+12,...,1.431475e+12,1.431673e+12,1.417355e+12,1.380216e+12,1.357139e+12,1.375605e+12,1.419821e+12,4.923000e+09,106.0,37.968590
12,13,Iran,8896,8819,57470,19125,6.46,72,3.895523e+11,4.250646e+11,...,4.389208e+11,4.677902e+11,4.853309e+11,4.532569e+11,4.445926e+11,4.639027e+11,NaN,NaN,NaN,NaN
13,14,Australia,8831,8725,90765,15606,10.28,107,1.021939e+12,1.060340e+12,...,1.119654e+12,1.142251e+12,1.169431e+12,1.211913e+12,1.241484e+12,1.272520e+12,1.301251e+12,5.386000e+09,231.0,11.810810
14,15,Brazil,8668,8596,60702,14396,7.00,86,1.845080e+12,1.957118e+12,...,2.054215e+12,2.208872e+12,2.295245e+12,2.339209e+12,2.409740e+12,2.412231e+12,2.319423e+12,1.214900e+10,59.0,69.648030

In [31]:
rankfrom1To15df.set_index('Country', inplace=True)

In [32]:
rankfrom1To15df

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,Energy Supply,Energy Supply per Capita,% Renewable
Country,,,,,,,,,,,,,,,,,,,,
China,1,127050,126767,597237,411683,4.70,138,3.992331e+12,4.559041e+12,4.997775e+12,5.459247e+12,6.039659e+12,6.612490e+12,7.124978e+12,7.672448e+12,8.230121e+12,8.797999e+12,1.271910e+11,93.0,19.754910
United States,2,96661,94747,792274,265436,8.20,230,1.479230e+13,1.505540e+13,1.501149e+13,1.459484e+13,1.496437e+13,1.520402e+13,1.554216e+13,1.577367e+13,1.615662e+13,1.654857e+13,9.083800e+10,286.0,11.570980
Japan,3,30504,30287,223024,61554,7.31,134,5.496542e+12,5.617036e+12,5.558527e+12,5.251308e+12,5.498718e+12,5.473738e+12,5.569102e+12,5.644659e+12,5.642884e+12,5.669563e+12,1.898400e+10,149.0,10.232820
United Kingdom,4,20944,20357,206091,37874,9.84,139,2.419631e+12,2.482203e+12,2.470614e+12,2.367048e+12,2.403504e+12,2.450911e+12,2.479809e+12,2.533370e+12,2.605643e+12,2.666333e+12,7.920000e+09,124.0,10.600470
Russian Federation,5,18534,18301,34266,12422,1.85,57,1.385793e+12,1.504071e+12,1.583004e+12,1.459199e+12,1.524917e+12,1.589943e+12,1.645876e+12,1.666934e+12,1.678709e+12,1.616149e+12,3.070900e+10,214.0,17.288680
Canada,6,17899,17620,215003,40930,12.01,149,1.564469e+12,1.596740e+12,1.612713e+12,1.565145e+12,1.613406e+12,1.664087e+12,1.693133e+12,1.730688e+12,1.773486e+12,1.792609e+12,1.043100e+10,296.0,61.945430
Germany,7,17027,16831,140566,27426,8.26,126,3.332891e+12,3.441561e+12,3.478809e+12,3.283340e+12,3.417298e+12,3.542371e+12,3.556724e+12,3.567317e+12,3.624386e+12,3.685556e+12,1.326100e+10,165.0,17.901530
India,8,15005,14841,128763,37209,8.58,115,1.265894e+12,1.374865e+12,1.428361e+12,1.549483e+12,1.708459e+12,1.821872e+12,1.924235e+12,2.051982e+12,2.200617e+12,2.367206e+12,3.319500e+10,26.0,14.969080
France,9,13153,12973,130632,28601,9.93,114,2.607840e+12,2.669424e+12,2.674637e+12,2.595967e+12,2.646995e+12,2.702032e+12,2.706968e+12,2.722567e+12,2.729632e+12,2.761185e+12,1.059700e+10,166.0,17.020280
South Korea,10,11983,11923,114675,22595,9.57,104,9.410199e+11,9.924316e+11,1.020510e+12,1.027730e+12,1.094499e+12,1.134796e+12,1.160809e+12,1.194429e+12,1.234340e+12,1.266580e+12,1.100700e+10,221.0,2.279353
Italy,11,10964,10794,111850,26661,10.20,106,2.202170e+12,2.234627e+12,2.211154e+12,2.089938e+12,2.125185e+12,2.137439e+12,2.077184e+12,2.040871e+12,2.033868e+12,2.049316e+12,6.530000e+09,109.0,33.667230
Spain,12,9428,9330,123336,23964,13.08,115,1.414823e+12,1.468146e+12,1.484530e+12,1.431475e+12,1.431673e+12,1.417355e+12,1.380216e+12,1.357139e+12,1.375605e+12,1.419821e+12,4.923000e+09,106.0,37.968590
Iran,13,8896,8819,57470,19125,6.46,72,3.895523e+11,4.250646e+11,4.289909e+11,4.389208e+11,4.677902e+11,4.853309e+11,4.532569e+11,4.445926e+11,4.639027e+11,NaN,NaN,NaN,NaN
Australia,14,8831,8725,90765,15606,10.28,107,1.021939e+12,1.060340e+12,1.099644e+12,1.119654e+12,1.142251e+12,1.169431e+12,1.211913e+12,1.241484e+12,1.272520e+12,1.301251e+12,5.386000e+09,231.0,11.810810
Brazil,15,8668,8596,60702,14396,7.00,86,1.845080e+12,1.957118e+12,2.056809e+12,2.054215e+12,2.208872e+12,2.295245e+12,2.339209e+12,2.409740e+12,2.412231e+12,2.319423e+12,1.214900e+10,59.0,69.648030

In [33]:
meandfPerYears=rankfrom1To15df[['2006','2007','2008','2009','2010','2011','2012','2013','2014','2015']]

In [34]:
meandfPerYears

,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Country,,,,,,,,,,
China,3.992331e+12,4.559041e+12,4.997775e+12,5.459247e+12,6.039659e+12,6.612490e+12,7.124978e+12,7.672448e+12,8.230121e+12,8.797999e+12
United States,1.479230e+13,1.505540e+13,1.501149e+13,1.459484e+13,1.496437e+13,1.520402e+13,1.554216e+13,1.577367e+13,1.615662e+13,1.654857e+13
Japan,5.496542e+12,5.617036e+12,5.558527e+12,5.251308e+12,5.498718e+12,5.473738e+12,5.569102e+12,5.644659e+12,5.642884e+12,5.669563e+12
United Kingdom,2.419631e+12,2.482203e+12,2.470614e+12,2.367048e+12,2.403504e+12,2.450911e+12,2.479809e+12,2.533370e+12,2.605643e+12,2.666333e+12
Russian Federation,1.385793e+12,1.504071e+12,1.583004e+12,1.459199e+12,1.524917e+12,1.589943e+12,1.645876e+12,1.666934e+12,1.678709e+12,1.616149e+12
Canada,1.564469e+12,1.596740e+12,1.612713e+12,1.565145e+12,1.613406e+12,1.664087e+12,1.693133e+12,1.730688e+12,1.773486e+12,1.792609e+12
Germany,3.332891e+12,3.441561e+12,3.478809e+12,3.283340e+12,3.417298e+12,3.542371e+12,3.556724e+12,3.567317e+12,3.624386e+12,3.685556e+12
India,1.265894e+12,1.374865e+12,1.428361e+12,1.549483e+12,1.708459e+12,1.821872e+12,1.924235e+12,2.051982e+12,2.200617e+12,2.367206e+12
France,2.607840e+12,2.669424e+12,2.674637e+12,2.595967e+12,2.646995e+12,2.702032e+12,2.706968e+12,2.722567e+12,2.729632e+12,2.761185e+12
South Korea,9.410199e+11,9.924316e+11,1.020510e+12,1.027730e+12,1.094499e+12,1.134796e+12,1.160809e+12,1.194429e+12,1.234340e+12,1.266580e+12
Italy,2.202170e+12,2.234627e+12,2.211154e+12,2.089938e+12,2.125185e+12,2.137439e+12,2.077184e+12,2.040871e+12,2.033868e+12,2.049316e+12
Spain,1.414823e+12,1.468146e+12,1.484530e+12,1.431475e+12,1.431673e+12,1.417355e+12,1.380216e+12,1.357139e+12,1.375605e+12,1.419821e+12
Iran,3.895523e+11,4.250646e+11,4.289909e+11,4.389208e+11,4.677902e+11,4.853309e+11,4.532569e+11,4.445926e+11,4.639027e+11,NaN
Australia,1.021939e+12,1.060340e+12,1.099644e+12,1.119654e+12,1.142251e+12,1.169431e+12,1.211913e+12,1.241484e+12,1.272520e+12,1.301251e+12
Brazil,1.845080e+12,1.957118e+12,2.056809e+12,2.054215e+12,2.208872e+12,2.295245e+12,2.339209e+12,2.409740e+12,2.412231e+12,2.319423e+12

In [35]:
avgGDP=meandfPerYears.mean(axis = 1)

In [36]:
pd.Series(avgGDP)

Country
China                 6.348609e+12
United States         1.536434e+13
Japan                 5.542208e+12
United Kingdom        2.487907e+12
Russian Federation    1.565459e+12
Canada                1.660647e+12
Germany               3.493025e+12
India                 1.769297e+12
France                2.681725e+12
South Korea           1.106715e+12
Italy                 2.120175e+12
Spain                 1.418078e+12
Iran                  4.441558e+11
Australia             1.164043e+12
Brazil                2.189794e+12
dtype: float64

In [37]:
avgGDP.isin

<bound method Series.isin of Country
China                 6.348609e+12
United States         1.536434e+13
Japan                 5.542208e+12
United Kingdom        2.487907e+12
Russian Federation    1.565459e+12
Canada                1.660647e+12
Germany               3.493025e+12
India                 1.769297e+12
France                2.681725e+12
South Korea           1.106715e+12
Italy                 2.120175e+12
Spain                 1.418078e+12
Iran                  4.441558e+11
Australia             1.164043e+12
Brazil                2.189794e+12
dtype: float64>

In [38]:
avgGDP.isnull().sum()

0

In [39]:
avgGDP.sort_values(ascending= True) #aready sorted

Country
Iran                  4.441558e+11
South Korea           1.106715e+12
Australia             1.164043e+12
Spain                 1.418078e+12
Russian Federation    1.565459e+12
Canada                1.660647e+12
India                 1.769297e+12
Italy                 2.120175e+12
Brazil                2.189794e+12
United Kingdom        2.487907e+12
France                2.681725e+12
Germany               3.493025e+12
Japan                 5.542208e+12
China                 6.348609e+12
United States         1.536434e+13
dtype: float64

In [63]:
rankfrom1To15df[['Energy Supply per Capita']].mean()

Energy Supply per Capita    160.357143
dtype: float64

In [59]:
maxRenewablePercentage=rankfrom1To15df['% Renewable'].max(),rankfrom1To15df['% Renewable'].idxmax()
maxRenewablePercentage

(69.64803, 'Brazil')

In [ ]:
rankfrom1To15df['Ratio']= rankfrom1To15df['Self-citations']/rankfrom1To15df['Citations']
maxRatio=rankfrom1To15df['Ratio'].max,rankfrom1To15df['Ratio'].idxmax()

In [ ]:
rankfrom1To15df['% Renewable'].median()
rankfrom1To15df['flag']=rankfrom1To15df.apply(lambda x: 1 if x["% Renewable"] >= median else 0,axis=1)

In [48]:
rankfrom1To15df

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,2006,2007,2008,...,2011,2012,2013,2014,2015,Energy Supply,Energy Supply per Capita,% Renewable,Ratio,flag
Country,,,,,,,,,,,,,,,,,,,,,
China,1,127050,126767,597237,411683,4.70,138,3.992331e+12,4.559041e+12,4.997775e+12,...,6.612490e+12,7.124978e+12,7.672448e+12,8.230121e+12,8.797999e+12,1.271910e+11,93.0,19.754910,0.689313,1
United States,2,96661,94747,792274,265436,8.20,230,1.479230e+13,1.505540e+13,1.501149e+13,...,1.520402e+13,1.554216e+13,1.577367e+13,1.615662e+13,1.654857e+13,9.083800e+10,286.0,11.570980,0.335031,0
Japan,3,30504,30287,223024,61554,7.31,134,5.496542e+12,5.617036e+12,5.558527e+12,...,5.473738e+12,5.569102e+12,5.644659e+12,5.642884e+12,5.669563e+12,1.898400e+10,149.0,10.232820,0.275997,0
United Kingdom,4,20944,20357,206091,37874,9.84,139,2.419631e+12,2.482203e+12,2.470614e+12,...,2.450911e+12,2.479809e+12,2.533370e+12,2.605643e+12,2.666333e+12,7.920000e+09,124.0,10.600470,0.183773,0
Russian Federation,5,18534,18301,34266,12422,1.85,57,1.385793e+12,1.504071e+12,1.583004e+12,...,1.589943e+12,1.645876e+12,1.666934e+12,1.678709e+12,1.616149e+12,3.070900e+10,214.0,17.288680,0.362517,1
Canada,6,17899,17620,215003,40930,12.01,149,1.564469e+12,1.596740e+12,1.612713e+12,...,1.664087e+12,1.693133e+12,1.730688e+12,1.773486e+12,1.792609e+12,1.043100e+10,296.0,61.945430,0.190369,1
Germany,7,17027,16831,140566,27426,8.26,126,3.332891e+12,3.441561e+12,3.478809e+12,...,3.542371e+12,3.556724e+12,3.567317e+12,3.624386e+12,3.685556e+12,1.326100e+10,165.0,17.901530,0.195111,1
India,8,15005,14841,128763,37209,8.58,115,1.265894e+12,1.374865e+12,1.428361e+12,...,1.821872e+12,1.924235e+12,2.051982e+12,2.200617e+12,2.367206e+12,3.319500e+10,26.0,14.969080,0.288973,0
France,9,13153,12973,130632,28601,9.93,114,2.607840e+12,2.669424e+12,2.674637e+12,...,2.702032e+12,2.706968e+12,2.722567e+12,2.729632e+12,2.761185e+12,1.059700e+10,166.0,17.020280,0.218943,0
South Korea,10,11983,11923,114675,22595,9.57,104,9.410199e+11,9.924316e+11,1.020510e+12,...,1.134796e+12,1.160809e+12,1.194429e+12,1.234340e+12,1.266580e+12,1.100700e+10,221.0,2.279353,0.197035,0
Italy,11,10964,10794,111850,26661,10.20,106,2.202170e+12,2.234627e+12,2.211154e+12,...,2.137439e+12,2.077184e+12,2.040871e+12,2.033868e+12,2.049316e+12,6.530000e+09,109.0,33.667230,0.238364,1
Spain,12,9428,9330,123336,23964,13.08,115,1.414823e+12,1.468146e+12,1.484530e+12,...,1.417355e+12,1.380216e+12,1.357139e+12,1.375605e+12,1.419821e+12,4.923000e+09,106.0,37.968590,0.194299,1
Iran,13,8896,8819,57470,19125,6.46,72,3.895523e+11,4.250646e+11,4.289909e+11,...,4.853309e+11,4.532569e+11,4.445926e+11,4.639027e+11,NaN,NaN,NaN,NaN,0.332782,0
Australia,14,8831,8725,90765,15606,10.28,107,1.021939e+12,1.060340e+12,1.099644e+12,...,1.169431e+12,1.211913e+12,1.241484e+12,1.272520e+12,1.301251e+12,5.386000e+09,231.0,11.810810,0.171939,0
Brazil,15,8668,8596,60702,14396,7.00,86,1.845080e+12,1.957118e+12,2.056809e+12,...,2.295245e+12,2.339209e+12,2.409740e+12,2.412231e+12,2.319423e+12,1.214900e+10,59.0,69.648030,0.237159,1

In [49]:
HighRenewSeries=pd.Series(rankfrom1To15df['flag'])

In [50]:
HighRenewSeries

Country
China                 1
United States         0
Japan                 0
United Kingdom        0
Russian Federation    1
Canada                1
Germany               1
India                 0
France                0
South Korea           0
Italy                 1
Spain                 1
Iran                  0
Australia             0
Brazil                1
Name: flag, dtype: int64

In [51]:
ContinentDict  = {'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}

In [52]:
dateframe = pd.DataFrame(columns = ['count', 'sum', 'avg', 'std'])

In [53]:
dateframe

Empty DataFrame
Columns: [count, sum, avg, std]
Index: []

In [54]:
rankfrom1To15df['Estimate Population'] = rankfrom1To15df['Energy Supply'] / rankfrom1To15df['Energy Supply per Capita']

<ipython-input-54-b843e123decb>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rankfrom1To15df['Estimate Population'] = rankfrom1To15df['Energy Supply'] / rankfrom1To15df['Energy Supply per Capita']

In [55]:
for i, df in rankfrom1To15df.groupby(ContinentDict):
    dateframe.loc[i] = [len(df), df['Estimate Population'].sum(), df['Estimate Population'].mean(),df['Estimate Population'].std()]

In [56]:
 dateframe

               count           sum           avg           std
Asia             5.0  2.821591e+09  7.053977e+08  7.138779e+08
Australia        1.0  2.331602e+07  2.331602e+07           NaN
Europe           6.0  4.579297e+08  7.632161e+07  3.464767e+07
North America    2.0  3.528552e+08  1.764276e+08  1.996696e+08
South America    1.0  2.059153e+08  2.059153e+08           NaN